.heading {
    text-align: center;
    font-size: 30px;
    background-color: darkslategray;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
}

.card {
    display: inline-block;
    margin-right: 10px;
}

.card-body {
    background-color: rgb(38, 107, 255);
}

.nameClick {
    background-color: lightgray;
    padding: 5px

}